*{
    font-size: 38px;
    font-family: serif;
}
body{
    background-image: "C:\users\kjman\repo\Homework Challenges\Challenges\04 Quiz\Quiz_Challenge\Assets\images\seoul-wallpaper-10.jpg";
}
header{
    text-align: center;
  
}

main{
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    
}