*{
    font-style: serif;
}
header {
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
}
/* welcome banner */
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 36px; 
}

a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* timer in header */
#timer{
    border: solid blue;
    display: inline;
}

#home{
    height: 100px;
    width: 100px;
    
}


/* questions.html */

#questions{
    border: solid blue;
    background-color:gray
}

li{
    border: solid green; 
    background-color: green;
}